name: enmeshed
description: The official enmeshed app.
publish_to: "none"
version: 4.0.3

environment:
  sdk: ">=3.5.0 <4.0.0"
  flutter: ">=3.24.0"

dependencies:
  app_links: ^6.3.2
  archive: ^3.6.1
  croppy: ^1.3.1
  enmeshed_runtime_bridge: ^1.0.0
  enmeshed_types: ^1.0.0
  feature_flags: ^0.1.4
  file_picker: ^8.1.3
  flex_seed_scheme: ^3.4.1
  flutter:
    sdk: flutter
  flutter_i18n: ^0.36.2
  flutter_inappwebview: any
  flutter_markdown: ^0.7.4
  flutter_native_splash: ^2.4.2
  flutter_pin_code_fields: ^2.2.0
  flutter_slidable: ^3.1.1
  get_it: ^8.0.2
  go_router: ^14.3.0
  i18n_translated_text: ^1.0.2
  image: ^4.3.0
  image_picker: ^1.1.2
  intl: any
  logger: ^2.4.0
  mime_type: ^1.0.1
  mobile_scanner: ^6.0.2
  open_file: ^3.5.9
  package_info_plus: ^8.1.0
  path: any
  path_provider: ^2.1.5
  permission_handler: ^11.3.1
  pin_code_fields: ^8.0.1
  push: ^2.3.0
  qr_flutter: ^4.1.0
  renderers: ^1.0.0
  smooth_page_indicator: ^1.2.0
  timeago: ^3.7.0
  url_launcher: ^6.3.1
  value_renderer: ^1.0.0
  vector_graphics: ^1.1.13
  wolt_modal_sheet: ^0.5.0

dev_dependencies:
  flutter_launcher_icons: ^0.14.1
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter
  translations_cleaner: ^0.0.5
  vector_graphics_compiler: ^1.1.12

flutter:
  generate: true
  uses-material-design: true
  assets:
    - path: assets/i18n/
    - path: assets/texts/
    - path: assets/pictures/
    - path: assets/svg/
      transformers:
        - package: vector_graphics_compiler

# dart run flutter_launcher_icons
flutter_icons:
  image_path: "assets/icon.png"
  android: true
  ios: true
  remove_alpha_ios: true
  image_path_ios_dark_transparent: "assets/icon_dark.png"
  image_path_ios_tinted_grayscale: "assets/icon_grayscale.png"

flutter_native_splash:
  # This package generates native code to customize Flutter's default white native splash screen
  # with background color and splash image.
  # Customize the parameters below, and run the following command in the terminal:
  # dart run flutter_native_splash:create
  # To restore Flutter's default white splash screen, run the following command in the terminal:
  # dart run flutter_native_splash:remove

  image: "assets/icon.png"
  color: "#ffffff"

  android_12:
    image: "assets/splash.png"
    color: "#ffffff"
    icon_background_color: "#ffffff"
    icon_background_color_dark: "#ffffff"

  android: true
  ios: true
