name: enmeshed
description: The official Enmeshed app.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=2.19.3 <3.0.0"

dependencies:
  dart_code_metrics: ^5.6.0
  enmeshed_runtime_bridge: ^1.0.0
  enmeshed_types: ^1.0.0
  flutter:
    sdk: flutter
  flutter_inappwebview: any
  flutter_localizations:
    sdk: flutter
  flutter_native_splash: ^2.2.19
  get_it: ^7.2.0
  logger: ^1.3.0
  mobile_scanner: ^3.2.0
  permission_handler: ^10.2.0
  url_launcher: ^6.1.10
  intl: any

dev_dependencies:
  flutter_launcher_icons: ^0.12.0
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/enmeshed_logo_dark.png
    - assets/enmeshed_logo_light.png

flutter_icons:
  image_path: "assets/icon.png"
  android: true
  ios: true
  remove_alpha_ios: true

flutter_native_splash:
  # This package generates native code to customize Flutter's default white native splash screen
  # with background color and splash image.
  # Customize the parameters below, and run the following command in the terminal:
  # flutter pub run flutter_native_splash:create
  # To restore Flutter's default white splash screen, run the following command in the terminal:
  # flutter pub run flutter_native_splash:remove

  color: "#42a5f5"

  android: true
  ios: true
