version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      update-github-actions-dependencies:
        patterns:
          - "*"
    reviewers:
      - "jkoenig134"
    labels:
      - "dependencies"

  - package-ecosystem: "npm"
    directory: "/app/packages/enmeshed_runtime_bridge/natives"
    schedule:
      interval: "daily"
    groups:
      update-npm-dependencies:
        patterns:
          - "*"
    reviewers:
      - "jkoenig134"
    labels:
      - "dependencies"

  - package-ecosystem: "pub"
    directories:
      - "/"
      - "/apps/*"
      - "/packages/*"
    schedule:
      interval: "daily"
    groups:
      update-pub-dependencies:
        patterns:
          - "*"
    reviewers:
      - "jkoenig134"
    labels:
      - "dependencies"
