{
  "endOfLine": "lf",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
