name: runtime bridge integration tests

on:
  pull_request:
    branches:
      - main
      - release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  ios:
    runs-on: imhotep
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        run: docker compose -f .dev/compose.backbone.yml --env-file .dev/compose.backbone.env up -d
      - name: "List all simulators"
        run: "xcrun xctrace list devices"
      - name: "Pod repo update"
        run: pod repo update
      - name: "Start Simulator"
        # the command "xcrun simctl boot" expects a device identifier
        # the assignment of the UDID variable consists of retrieving the ID of the simulator
        # by extracting it from the command "xcrun xctrace list devices"
        run: |
          UDID=$(xcrun xctrace list devices | grep -m 1 "^iPhone" | awk '{gsub(/[()]/,""); print $NF}')
          echo $UDID

          if xcrun simctl boot "$UDID" 2>errorFile.txt; then
              echo "device booted"
          else
              if grep -q "Unable to boot device in current state: Booted" errorFile.txt; then
                  echo "device already booted"
                  rm errorFile.txt
              else
                  echo "device not booted"
                  cat errorFile.txt
                  rm errorFile.txt
                  exit 1
              fi
          fi
      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install Dependencies
        run: |
          dart pub global activate melos
          melos bootstrap
      - name: Run integration tests
        run: cd packages/enmeshed_runtime_bridge && flutter test integration_test/suite_test.dart --dart-define=app_baseUrl=http://localhost:8090 --dart-define=app_clientId=test --dart-define=app_clientSecret=test
      - name: Stop Backbone
        run: docker compose -f .dev/compose.backbone.yml --env-file .dev/compose.backbone.env down -v
        if: always()

  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start Backbone
        run: docker compose -f .dev/compose.backbone.yml --env-file .dev/compose.backbone.env up -d
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17
          cache: "gradle"
      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install Dependencies
        run: |
          dart pub global activate melos
          melos bootstrap
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Start emulator and run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          target: playstore
          api-level: 32
          force-avd-creation: false
          avd-name: integration_test
          disable-spellchecker: true
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          arch: x86_64
          profile: pixel
          script: cd packages/enmeshed_runtime_bridge && adb reverse tcp:8090 tcp:8090 && flutter test integration_test/suite_test.dart --dart-define=app_baseUrl=http://localhost:8090 --dart-define=app_clientId=test --dart-define=app_clientSecret=test
      - name: Stop Backbone
        run: docker compose -f .dev/compose.backbone.yml --env-file .dev/compose.backbone.env down -v
        if: always()
